<div class="flex flex-col gap-2">
  <!-- Iterate over pages -->
  @for (page of form?.controls; track page) {
    <ng-container [formGroup]="page">
      <div class="flex gap-2">
        <!-- From -->
        <div class="flex gap-2">
          <span>De page</span>
          <mat-form-field>
            <input matInput formControlName="from" type="number" />
          </mat-form-field>
        </div>
        <!-- To -->
        <div class="flex gap-2">
          <span>à</span>
          <mat-form-field>
            <input matInput formControlName="to" type="number" />
          </mat-form-field>
        </div>
        <button mat-icon-button (click)="deleteRow($index)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </ng-container>
  }
  <button mat-stroked-button color="primary" (click)="addNewRow()">
    <mat-icon>add</mat-icon>
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="submitForm.emit()"
    [disabled]="form.invalid"
  >
    TERMINER
  </button>
</div>
