<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex flex-col">
    <!-- First name -->
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" autocomplete="username" />
    </mat-form-field>

    <!-- First name -->
    <mat-form-field>
      <mat-label>Identifiant</mat-label>
      <input matInput formControlName="userName" autocomplete="username" />
    </mat-form-field>

    <!-- Password -->
    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        autocomplete="current-password"
      />
    </mat-form-field>

    <!-- First name -->
    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input matInput formControlName="firstName" autocomplete="username" />
    </mat-form-field>

    <!-- Second name -->
    <mat-form-field>
      <mat-label>Prenom</mat-label>
      <input matInput formControlName="lastName" autocomplete="username" />
    </mat-form-field>

    <button
      class="my-5"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!form.valid"
    >
      SUIVANT
    </button>
    <button
      mat-button
      color="primary"
      class="underline"
      [routerLink]="['/login']"
    >
      J'ai un compte
    </button>
  </div>
</form>
