/* Colors */
$primary: var(--primary);
$secondary: var(--secondary);
$warn: var(--warn);
$white: var(--white);

/* Font */
$headingtext: (--headingtext);
$bodytext: var(--bodytext);
$bodycolor: var(--bodycolor);
$bodyfont: var(--bodyfont);

/* Extra Variable */
$radius: 4px;
$sidebar-selected-text: var(--sidebar-selected-text);

/* Table */
$nested-table-bg: var(--nested-table-bg);
$nested-table-header-bg: var(--nested-table-header-bg);
$nested-table-header-text: var(--nested-table-header-text);
$nested-table-text: var(--nested-table-bg);
